* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

td {
    border-left: 3px solid rgb(192, 189, 189);
    padding: 10px;
}

table {
    margin-left: 20px;
    margin-top: 20px;
}

td:nth-of-type(1) {
    border-left: 3px solid red;
}

tr:nth-last-child(1) td:nth-last-child(3) {
    border-left: 3px solid green;
}
tr:nth-last-child(3) td:nth-last-child(3) {
    border-left: 3px solid green;
}
tr:nth-last-child(5) td:nth-last-child(3) {
    border-left: 3px solid green;
}